<section class="container row">
    <div class="col-3">
        <p class="text-center">
            Username
        </p>
        <p>{{username}}</p>
    </div>
    <div class="col-3">
        <p class="text-center">
            Email
        </p>
        <p>{{email}}</p>
    </div>
</section>