<h1>Welcome to the Tennis Page!</h1>
<h2>Where Your Strokes Matter!</h2>


 <main class="container">
    <h3>Input Your User Info...</h3>
    <form id="userForm">
         <div class="mb-3">
            <label for="exampleInputUsername1" class="form-label">Username</label>
            <input type="username" class="form-control" id="userNameInput" aria-describedby="usernameHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordInput">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>